<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whxx.hms.dao.PriceCodeMapper">

	<select id="listPriceCode" parameterType="java.util.Map"
		resultType="java.util.Map">
				PRICE_CODE_ID_ priceCodeId,PRICE_CODE_ priceCode,
		PRICE_NAME_ priceName,
		PRICE_TYPE_ priceType,
		DATE_FORMAT(START_TIME_,'%Y-%m-%d %T') startTime,
		DATE_FORMAT(END_TIME_,'%Y-%m-%d %T') endTime,
		STOPPED_
		stopped,
		REMARK
		remark, CREATE_EMP_
		createEmp,
		DATE_FORMAT(CREATE_DATE_,'%Y-%m-%d %T')
		createDate,
		UPDATE_EMP_ updateEmp,
		DATE_FORMAT(UPDATE_DATE_,'%Y-%m-%d
		%T')
		updateDate
		from price_code where HOTEL_ID_=#{hotelId} and
		HOTEL_GROUP_ID_=#{hotelGroupId}
	</select>

	<select id="selectPriceCodeByName"
		parameterType="java.lang.String"
		resultType="com.whxx.hms.model.PriceCode">
		PRICE_CODE_ID_ priceCodeId,PRICE_CODE_ priceCode,
		PRICE_NAME_ priceName,
		PRICE_TYPE_ priceType,
		DATE_FORMAT(START_TIME_,'%Y-%m-%d %T') startTime,
		DATE_FORMAT(END_TIME_,'%Y-%m-%d %T') endTime,
		STOPPED_
		stopped,
		REMARK
		remark, CREATE_EMP_
		createEmp,
		DATE_FORMAT(CREATE_DATE_,'%Y-%m-%d %T')
		createDate,
		UPDATE_EMP_ updateEmp,
		DATE_FORMAT(UPDATE_DATE_,'%Y-%m-%d
		%T')
		updateDate
		from price_code where PRICE_NAME_ =#{priceName} and
		HOTEL_ID_=#{hotelId} and
		HOTEL_GROUP_ID_=#{hotelGroupId}
	</select>

	<update id="updatePriceCode"
		parameterType="com.whxx.hms.model.PriceCode">
		 update price_code
		<set >
      <if test="hotelGroupId != null" >
        HOTEL_GROUP_ID_ = #{hotelGroupId,jdbcType=INTEGER},
      </if>
      <if test="hotelId != null" >
        HOTEL_ID_ = #{hotelId,jdbcType=INTEGER},
      </if>
      <if test="lineNo != null" >
        LINE_NO_ = #{lineNo,jdbcType=VARCHAR},
      </if>
      <if test="priceCode != null" >
        PRICE_CODE_ = #{priceCode,jdbcType=VARCHAR},
      </if>
      <if test="priceName != null" >
        PRICE_NAME_ = #{priceName,jdbcType=VARCHAR},
      </if>
      <if test="priceType != null" >
        PRICE_TYPE_ = #{priceType,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        START_TIME_ = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        END_TIME_ = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="stopped != null" >
        STOPPED_ = #{stopped,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createEmp != null" >
        CREATE_EMP_ = #{createEmp,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        CREATE_DATE_ = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        UPDATE_DATE_ = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateEmp != null" >
        UPDATE_EMP_ = #{updateEmp,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        VERSION = #{version,jdbcType=INTEGER},
      </if>
      VERSION = VERSION+1
    </set>
    where PRICE_CODE_ID_ = #{priceCodeId,jdbcType=VARCHAR}
		
	</update>

	<select id="isPriceCodeConfigCode" resultType="java.lang.String">
		select
		PRICE_CODE_ID_ priceCodeId from price_code where PRICE_CODE_
		=#{priceCode}
	</select>

	<delete id="deletePriceCodeById"
		parameterType="java.lang.String">
		delete from price_code where PRICE_CODE_ID_ =#{priceCodeId}
	</delete>

	<insert id="insertPriceCode"
		parameterType="com.whxx.hms.model.PriceCode">
		insert into building (BUILDING_ID_, HOTEL_GROUP_ID_,
insert into price_code
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="priceCodeId != null" >
        PRICE_CODE_ID_,
      </if>
      <if test="hotelGroupId != null" >
        HOTEL_GROUP_ID_,
      </if>
      <if test="hotelId != null" >
        HOTEL_ID_,
      </if>
      <if test="lineNo != null" >
        LINE_NO_,
      </if>
      <if test="priceCode != null" >
        PRICE_CODE_,
      </if>
      <if test="priceName != null" >
        PRICE_NAME_,
      </if>
      <if test="priceType != null" >
        PRICE_TYPE_,
      </if>
      <if test="startTime != null" >
        START_TIME_,
      </if>
      <if test="endTime != null" >
        END_TIME_,
      </if>
      <if test="stopped != null" >
        STOPPED_,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="createEmp != null" >
        CREATE_EMP_,
      </if>
      <if test="createDate != null" >
        CREATE_DATE_,
      </if>
      <if test="updateDate != null" >
        UPDATE_DATE_,
      </if>
      <if test="updateEmp != null" >
        UPDATE_EMP_,
      </if>
      <if test="version != null" >
        VERSION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="priceCodeId != null" >
        #{priceCodeId,jdbcType=VARCHAR},
      </if>
      <if test="hotelGroupId != null" >
        #{hotelGroupId,jdbcType=INTEGER},
      </if>
      <if test="hotelId != null" >
        #{hotelId,jdbcType=INTEGER},
      </if>
      <if test="lineNo != null" >
        #{lineNo,jdbcType=VARCHAR},
      </if>
      <if test="priceCode != null" >
        #{priceCode,jdbcType=VARCHAR},
      </if>
      <if test="priceName != null" >
        #{priceName,jdbcType=VARCHAR},
      </if>
      <if test="priceType != null" >
        #{priceType,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="stopped != null" >
        #{stopped,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createEmp != null" >
        #{createEmp,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateEmp != null" >
        #{updateEmp,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        #{version,jdbcType=INTEGER},
      </if>
    </trim>
	</insert>
</mapper>